
html {
	height: 100%;
	background: white;
	background: radial-gradient(circle, #fff 20%, #ccc);
	background-size: cover;
}

#calculator {
    width: 350px;
    height: 390px;
    background: #00AFD1;
    border-radius: 5px 5px 5px 5px;
    margin: 100px auto;
    box-shadow: 0px 4px #1E3138, 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.screen {
    width: 330px;
    height: 60px;
    background: #1E3138;
    border-radius: 5px 5px 5px 5px;
    padding-left: 20px;
    
    color: #EAEDF1;
    line-height: 65px;
	font-size: 36px;
    text-align: left;
    font-family: "MyriadProRegular";
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    
}

.buttons {
    width: 70px;
    height: 50px;
    background: #0F6F84;
    border: none;
    border-radius: 5px 5px 5px 5px; 
    
    
    color: #EAEDF1;
    line-height: 50px;
	font-size: 36px;
    text-align: center;
    font-family: "MyriadProRegular";
    
    float: left;
	position: relative;
	top: 0;
	cursor: pointer;
    margin: 0 7px 11px 0;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    
    box-shadow: 0px 4px #1E3138, 0px 10px 15px rgba(0, 0, 0, 0.2);
    
  
}

.keys {
    padding: 20px 20px 20px 20px;
}

.plus {
    width: 70px;
    height: 110px;
    line-height: 100px;
    float: right;
}

.buttons:hover {
    background: #AE006C;
}

.buttons:active {
    box-shadow: 0px 0px #6b54d3;
	top: 4px;
}

@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}